$color-basic: #FFFFFF;
$color-primary: #0C0C0C;
$color-secondary: #0E70F1;
$color-accent1: #F5F6F6;
$color-accent2: #F5FAFF;

$color-text-default: $color-primary;
$color-text-dark: $color-secondary;

$color-background-main: $color-basic;
$color-background-special: $color-secondary;
$color-background-dark: $color-accent1;

$color-border-default: $color-secondary;

