$spacing-vertical-small: 8px;
$spacing-vertical-default: 16px;
$spacing-vertical-big: 20px;

$spacing-horizontal-small: 8px;
$spacing-horizontal-medium: 12px;
$spacing-horizontal-default: 10px;
$spacing-horizontal-big: 15px;

$gap-small: 4px;
$gap-default: 8px;
$gap-big: 12px;