@import 'vars/index.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: $color-background-main;
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

b {
  font-weight: $font-weight-semi-bold;
}

i {
  font-style: italic;
}

ul {
  list-style-type: none; 
}

h1 {
  font-size: $font-size-title;
  font-weight: $font-weight-semi-bold;
  line-height: $line-height-large;
}

p {
  font-size: $font-size-base;
  font-weight: $font-weight-regular;
  line-height: $line-height-base;
}